<strong>Olá, {{ deliveryman }}!</strong>
<p>Houve um novo Cadastro de encomenda!</p>
<p>Detalhe do cadastro:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Cliente:</strong> {{ client }} <br />
  <strong>Endereço: </strong> <br />
  {{ street }}, {{ number }} <br />
  {{ city }} - {{ nation }} <br />
  {{ zip_code }} <br />
  <br />
  <strong>Horário de retirada para entrega:</strong> de 08h às 18h <br />
</p>
